<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container-fluid">
      {% block sidebar %}
      <ul class="nav-bar">
          <li><a href="{% url 'index' %}"><img class="logo-link" alt="ГЛАВНАЯ" src="../static/img/logo.png"></a></li> <br>
          <li>
              <a href="{% url 'picture-form' %}">⊕</a>
              <a href="{% url 'pictures' %}">Картины</a>
          </li>
          <li>
              <a href="{% url 'diploma-form' %}">⊕</a>
              <a href="{% url 'diplomas' %}">Дипломные рабты</a>
          </li>
          <li>
              <a href="{% url 'exhibition-form' %}">⊕</a>
              <a href="{% url 'exhibitions' %}">Выставки</a>
          </li>
          <li>
              <a href="{% url 'technique-form' %}">⊕</a>
              <a href="{% url 'techniques' %}">Техники</a>
          </li>
          <li>
              <a href="{% url 'press-form' %}">⊕</a>
              <a href="{% url 'presses' %}">Пресса</a>
          </li>
          <li>
              <a href="{% url 'methodical-form' %}">⊕</a>
              <a href="{% url 'methodicals' %}">Методические разработки</a>
          </li>
          <li>
              <a href="{% url 'orders' %}">Заказы</a>
          </li>
          <li>
              <a href="{% url 'comments' %}">Комментарии</a>
          </li>
      </ul>
      {% endblock %}

      <div class="dynamic-content">
      {% block content %} {% endblock %}
      </div>
  </div>

</body>
</html>