{% extends "base_generic.html" %}

{% block content %}

    <div class="content">
        <h1>Список методических разработок</h1>
        {% if methodicals %}
        <ul>

          {% for methodical in methodicals %}

           <div class="list-item">
               <a class="item-title" href="{% url 'methodical-detail' methodical.pk %}">{{ methodical.Title }}</a>
                <a href="{% url 'methodical-update' methodical.pk %}"><img class="update-link" src="../static/img/update.png"></a>
                <a href="{% url 'methodical-delete' methodical.pk %}"><img class="delete-link" src="../static/img/delete.png"></a>
            </div>

          {% endfor %}

        </ul>
        {% else %}
          <p>В архиве нет методических разработок.</p>
        {% endif %}
    </div>
{% endblock %}