{% extends "base_generic.html" %}

{% block content %}
    <div class="content">
    <h1>Список заказов</h1>
    {% if orders %}
    <ul>

      {% for order in orders %}

        <p id="is_conf" class="is_conf">❶</p>
       <div class="list-item" id="list-item">
            <a class="item-title" href="{% url 'order-detail' order.pk %}">Заказ №{{ order.id }}</a>
            <a class="item-date" href="{% url 'order-detail' order.pk %}">{{ order.datetime }}</a>
            <input class="comment-confirm" id="comment_confirm" value="{{ order.is_confirm }}">
       </div>

      {% endfor %}

    </ul>
    {% else %}
      <p>В архиве нет заказов.</p>
    {% endif %}
    </div>

<script language="JavaScript" type="text/javascript">
   $('#is_conf').hide();
    $(document).ready(function(){
        let cards = $('.comment-confirm');
        for (let i = 0; i < cards.length; i++) {
            let card = cards[i];

            let confs = $('.is_conf');
            if (card.value === "True"){
                // confs[i].hide();
                confs[i].style.display = "none";
            }
            if (card.value === "False"){
                // confs[i].show();
                confs[i].style.display = "block";
            }
        }
    });
</script>
{% endblock %}