{% extends "base_generic.html" %}

{% block content %}
    <div class="content">
    <h1>Список заказов</h1>
    {% if orders %}
    <ul>

      {% for order in orders %}

       <div class="list-item" id="list-item">
            <a class="item-title" href="{% url 'order-detail' order.pk %}">Заказ №{{ order.id }}</a>
            <a class="item-date" href="{% url 'order-detail' order.pk %}">{{ order.datetime }}</a>
            <input class="comment-confirm" id="order_confirm" value="{{ order.is_confirm }}">
       </div>

      {% endfor %}

    </ul>
    {% else %}
      <p>В архиве нет заказов.</p>
    {% endif %}
    </div>

<script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
        console.log($('#order_confirm').val());
        if ($('#order_confirm').val() === "True"){
            $('#list-item').css('background', 'white');
        }
        if ($('#order_confirm').val() === "False"){
            $('#list-item').css('background', '#f5f5f5');
        }
    });
</script>
{% endblock %}