{% extends "base_generic.html" %}

{% block content %}
    <div class="content">
    <h1>Список картин</h1>
    {% if pictures %}
    <ul>

      {% for picture in pictures %}

       <div class="list-item">
           <a class="item-title" href="{% url 'picture-update' picture.pk %}">{{ picture.Title }}</a>
            <a href="{% url 'picture-update' picture.pk %}"><img class="update-link" src="../static/img/update.png"></a>
            <a href="{% url 'picture-delete' picture.pk %}"><img class="delete-link" src="../static/img/delete.png"></a>
        </div>

      {% endfor %}

    </ul>
    {% else %}
      <p>В архиве нет картин.</p>
    {% endif %}
    </div>
{% endblock %}